---
# Only the main Sass file needs front matter (the dashes are enough)
---
$base-font-family: Times, serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;

$content-width:    650px !default;
$spacing-unit:     30px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;




body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
}

%vertical-rhythm {
  margin-bottom: $spacing-unit * .5;
}

/* Basic styling for the header */
.site-header {
  padding: 1em 0; /* Add some padding for spacing */
}

.site-footer {
  margin-top: 100px;
}
  /* Centering content inside the wrapper */
.wrapper {
  width: 90%;
  max-width: $content_width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligns site title and nav */
}

.site-header {
  position: relative;
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit * .5;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: #000;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;
    margin-left: 20px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;
      margin-left: auto;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}



/* Remove list bullets */
ul.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style the list items with no padding */
ul.post-list li {
  padding: 0;
  margin: 1rem 0 4rem 0;
}

/* Style the post title */
h3 {
  font-size: 1.5rem;
  margin: .5rem 0;
}

.post-link:hover {
  text-decoration: underline;
}


/**
 * Code formatting
 */
 pre,
 code {
   font-family: $code-font-family;
   font-size: 0.9375em;
   border-radius: 3px;
   color: #FFF;
   background-color: #000;
 }
 
 code {
   padding: 1px 5px;
 }
 
 pre {
   padding: 8px 12px;
   overflow-x: auto;
 
   > code {
     border: 0;
     padding-right: 0;
     padding-left: 0;
   }
 }
 
 .highlight {
   border-radius: 3px;
   background: #000;
   @extend %vertical-rhythm;
 
   .highlighter-rouge & {
     background: #000;
   }
 }
 
 @import '_solarized'